
.login-container {
    background-image   : url("../../assets/main.jpg");
    max-width : 100%;
    max-height: 100vh;
    // background-repeat: no-repeat;
    // position: relative;
    
    // margin-left: auto;
    // margin-right: auto;
    

    form {
        .login-email {
            position       : absolute;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            top            : 167px;

            .email-e {

                p {
                    color : aqua;
                    margin: 0 0 4px 0;

                    input {
                        
                    }
                }
            }

            span {
                color: #ffb700;
            }
        }

        .login-button {
            position       : absolute;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            margin         : 0 0 170px 0;
        }
    }

    .create-account {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 135px 0;
        right: 187px;
       a{
        text-decoration: none;
       }
    }

    .login-password {
        position       : absolute;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        top            : 250px;

        label {
            p {
                color: aqua;
                margin: 41px 0 4px 0;
            }

            input {
            
                height: 60px;
                width: 100%;
                font-size: 1.5em;
                border-radius: 30px;
                text-align: center;
                transition: width 0.5s;
                padding-right: 20px;
                outline: none;
                
            }
           

            span {
                display: block;
                color  : #ffb700;
            }
        }
    }
}
.email-input {  height: 60px;
    width: 100%;
    font-size: 1.5em;
    border-radius: 30px;
    text-align: center;
    transition: width 0.5s;
    padding-right: 20px;
    outline: none;}
i{    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    top: 88px;
    left: 243px;
    border: none;
}


.error-box {
    border-color: red;
    color       : red;

}
.boder-color{
    border: 1px solid #0d6efd;
}