.container {
  width     : auto;
  max-height: 100vh;

  .head {
    display: flex;

    .title {
      h1 {
        position   : absolute;
        top        : 62px;
        text-align : center;
        font-family: 'Zen Dots', cursive;
      }
    }

    .para {
      padding: 152px 0 0 0;

      p {
        padding       : 0 0 227px 0;
        text-align    : justify;
        letter-spacing: 3px;
        display       : contents;
        font-family   : 'Patrick Hand', cursive
      }
    }

    .button-home {
      position  : absolute;
      text-align: center;
      padding   : 0 0 279px 0;

      button {
        a {
          text-decoration: none;
        }
      }
    }

    .home-img {
      img {
        max-width : 389px;
        max-height: 242px;
        position  : absolute;
        left      : auto;
      }
    }
  }
}